
.iphone-x {
  position: relative;
  width: 280px; 
  height: auto;
  aspect-ratio: 9 / 19.5; 
  margin: 40px auto;
  background: #222; 
  border-radius: 40px;
  border: 8px solid #3F3E42;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
  overflow: hidden;
}

.iphone-x::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 25px;
  background: #3F3E42;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  z-index: 10;
}

.iphone-x .screen {
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}


.iphone-x video {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

@media (max-width: 500px) {
  .iphone-x {
    width: 220px;
    border-width: 6px;
  }
  .iphone-x::before {
    width: 100px;
    height: 18px;
  }
}